@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply font-sans;
  font-feature-settings: 'ss02';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 373px;
  height: 560px;
  overflow: hidden;
  scrollbar-width: none;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('/src/assets/fonts/HKGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: 500;
  src: url('/src/assets/fonts/HKGrotesk-Medium.ttf');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: 600;
  src: url('/src/assets/fonts/HKGrotesk-SemiBold.ttf');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: 700;
  src: url('/src/assets/fonts/HKGrotesk-Bold.ttf');
}
